# --- 忽略環境與 IDE ---
__pycache__/
*.py[cod]
.venv/
.env
.idea/
.vscode/

# --- 資料夾策略 (白名單模式) ---
data/*

# 保留必要結構與結果
!data/raw/
!data/clean/
!data/stock_list.csv
!data/goodinfo/
!data/indicators/
!data/cache/
!data/cache/metadata/

# 排除重型數據 (股價快取)
data/cache/tw/